<div class="content-wrapper">
  <div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body" >
          <input type="text"  [(ngModel)]="term"  name ="term"/><i class="fas fa-search"></i>
          <p class="card-description">
            List de Conducteur
          </p>
          <button class="btn btn-success " data-target="#ajout" data-toggle="modal">Ajouter Conducteur
            <i class="mdi mdi-plus"></i>
          </button>
          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  Nom
                </th>
                <th>
                Email
                </th>
                <th>
                  Telphone
                </th>
                <th>
                  Photo
                </th>
                <th>
                  Profile
                </th>
                <th >
                  Nombre de trajet publier
                </th>
                <th>
                  Modifier
                </th>
                <th>
                  Supprimer
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor=" let e of lisconducteur| conducteur:term | paginate: { itemsPerPage: 5, currentPage: p }">
                <td >{{e.username}}</td>
                <td>{{e.email}}</td>
                <td>{{e.tel}}</td>

           <td> <img src="http://localhost:9001/upload/files/{{e.photo}}" height="70" width="70"></td>
                <td > <a > <i class="fa fa-user-o" style='font-size:25px' routerLink="/home/profiluser/{{e.id}}"  ></i></a></td>

                <td  ><app-trajet [id]="e.id"></app-trajet></td>

                <td>
                  <i class='fas fa-user-edit' style='font-size:25px'  data-target="#edit" data-toggle="modal"  (click)="recuper(e.id,e.username,e.firstName,e.lastName,e.email,e. birthdate,e.genre,e.tel,e.permis,e.cin,e.adress,e.photo,e.password,e.confirmedPassword)"></i>
                </td>
                <td >
                  <i class="fa fa-trash" style="font-size:25px;color:red"  (click)="delete(e.id)" >

                  </i>
                </td>

              </tr>





              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>





<!--Modal modifier-->
<div class=" example-modal " >
  <div class="modal modal-primary" id="edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h3>Modifier  les Donnee  de Conducteur</h3>


            <form name="form" (ngSubmit)="f.form.valid && modifierconducteur()" #f="ngForm" [mustMatch]="['password', 'confirmedPassword']" novalidate >
              <div class="form-group">
                <label >Nom d'utilisateur</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="conducteur.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                  <div *ngIf="username.errors.required">Nom d'utilisateur Obligatoire</div>
                </div>
              </div>
            <div class="form-group">
              <label >Nom </label>
              <input type="text" class="form-control" name="firstName" [(ngModel)]="conducteur.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
              <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">Nom Obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label >Prenom</label>
              <input type="text" class="form-control" name="lastName" [(ngModel)]="conducteur.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
              <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                <div *ngIf="lastName.errors.required">Prenom Obligatoire</div>
              </div>
            </div>
              <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="conducteur.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email Obligatoire</div>
                <div *ngIf="email.errors.email">address mail invalid</div>
              </div>
            </div>
              <div class="form-group">
                <label> Date de naissance</label>
                <input type="date" class="form-control"  [(ngModel)]="conducteur.birthdate" name=" birthdate"  #birthdate="ngModel"  [ngClass]="{ 'is-invalid':f. submitted && birthdate.invalid }" required />
                <div *ngIf="f.submitted && birthdate.invalid" class="invalid-feedback">
                  <div *ngIf="birthdate.errors.required">Date de naissance Obligatoire</div>
                </div>
              </div>
              <div class="form-group">
                <label >genre</label>
                <div class="col-sm-12">
                  <select  name="genre"  [(ngModel)]="conducteur.genre"     #genre="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && genre.invalid }" >


                    <option  value="homme">Homme</option>
                    <option  value="femme">Femme</option>
                  </select>
                  <div *ngIf="f.submitted && genre.invalid" class="invalid-feedback">
                    <div *ngIf="genre.errors.required">Il faut indiquer votre genre</div>
                  </div>

                </div>
              </div>





              <div class="form-group">
              <label>Telphone</label>
              <input type="text" class="form-control"  [(ngModel)]="conducteur.tel" name="tel"  #tel="ngModel"  [ngClass]="{ 'is-invalid':f. submitted && tel.invalid }" required />
              <div *ngIf="f.submitted && tel.invalid" class="invalid-feedback">
                <div *ngIf="tel.errors.required">Telphone Obligatoire</div>
              </div>
            </div>

            <div class="form-group">
              <label>Permis</label>
              <input type="text" class="form-control"  [(ngModel)]="conducteur.permis" name="permis"  #permis="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && permis.invalid }"  required/>
              <div *ngIf="f.submitted && permis.invalid" class="invalid-feedback">
                <div *ngIf="permis.errors.required">Permis Obligatoire</div>
              </div>
            </div>
              <div class="form-group">
                <label>Numero Cart cin</label>
                <input type="text" class="form-control"  [(ngModel)]="conducteur.cin" name="cin"  #cin="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && cin.invalid }" required/>
                <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                  <div *ngIf="cin.errors.required"> Numero Cart cin</div>
                </div>
              </div>

              <div class="form-group">
                <label>Adress</label>
                <input type="text" class="form-control"  [(ngModel)]="conducteur.adress" name="adress"  #adress="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && adress.invalid }" required/>
                <div *ngIf="f.submitted && adress.invalid" class="invalid-feedback">
                  <div *ngIf="adress.errors.required">Adress Obligatoire</div>
                </div>
              </div>





            <div class="form-group">
              <label>{{conducteur?.photo}} </label>

              <input  id ="file"type='file' name="file" (change)="recuperFile($event)"  />

            </div>

            <div class="form-group">
              <label>Mot de passe</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="conducteur.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Mot de passe Obligatoire</div>
                <div *ngIf="password.errors.minlength">Mot de passe doit etre plus que  6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirmation Mot de passe </label>
              <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="conducteur.confirmedPassword" #confirmedPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmedPassword.invalid }" required />
              <div *ngIf="f.submitted && confirmedPassword.invalid" class="invalid-feedback">
                <div *ngIf="confirmedPassword.errors.required">Confirmetion Mot de passe Obligatoire</div>
                <div *ngIf="confirmedPassword.errors.mustMatch">Mot de passes ne sont pas identique</div>
              </div>
            </div>


            <div class="modal-footer">
              <div class="form-group">
                <button  type="submit" data-dismiss="modal"  class="btn btn-primary" (click)="modifierconducteur()" >Confirmer</button>
                <button class="btn btn-light"  data-dismiss="modal" (click)="closemodal()">Annuler</button>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>



<div class=" example-modal " >
  <div class="modal modal-primary" id="ajout">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <form name="form" (ngSubmit)="f.form.valid && ajout()" #f="ngForm"   [mustMatch]="['password', 'confirmedPassword']" novalidate>

            <div class="form-group">
              <label >Nom d'utilisateur</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="conducteur.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
              <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                <div *ngIf="username.errors.required">Nom d'utilisateur Obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label >Nom </label>
              <input type="text" class="form-control" name="firstName" [(ngModel)]="conducteur.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
              <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">Nom Obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label >Prenom</label>
              <input type="text" class="form-control" name="lastName" [(ngModel)]="conducteur.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
              <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                <div *ngIf="lastName.errors.required">Prenom Obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="conducteur.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email Obligatoire</div>
                <div *ngIf="email.errors.email">address mail invalid</div>
              </div>
            </div>
            <div class="form-group">
              <label> Date de naissance</label>
              <input type="date" class="form-control"  [(ngModel)]="conducteur.birthdate" name=" birthdate"  #birthdate="ngModel"  [ngClass]="{ 'is-invalid':f. submitted && birthdate.invalid }" required />
              <div *ngIf="f.submitted && birthdate.invalid" class="invalid-feedback">
                <div *ngIf="birthdate.errors.required">Date de naissance Obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label >genre</label>

                <select  name="genre"  [(ngModel)]="conducteur.genre"    #genre="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && genre.invalid }" >


                  <option    value="homme" >Homme</option>
                  <option   [ngClass]="{ 'is-invalid': f.submitted && genre.invalid }"  value="femme">Femme</option>
                </select>
                <div *ngIf="f.submitted && genre.invalid" class="invalid-feedback">
                  <div *ngIf="genre.errors.required">Il faut indiquer votre genre</div>
                </div>

              </div>






            <div class="form-group">
              <label>Telphone</label>
              <input type="text" class="form-control"  [(ngModel)]="conducteur.tel" name="tel"  #tel="ngModel"  [ngClass]="{ 'is-invalid':f. submitted && tel.invalid }" required />
              <div *ngIf="f.submitted && tel.invalid" class="invalid-feedback">
                <div *ngIf="tel.errors.required">Telphone Obligatoire</div>
              </div>
            </div>

            <div class="form-group">
              <label>Permis</label>
              <input type="text" class="form-control"  [(ngModel)]="conducteur.permis" name="permis"  #permis="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && permis.invalid }"  required/>
              <div *ngIf="f.submitted && permis.invalid" class="invalid-feedback">
                <div *ngIf="permis.errors.required">Permis Obligatoire</div>
              </div>
            </div>
            <div class="form-group">
              <label>Numero Cart cin</label>
              <input type="text" class="form-control"  [(ngModel)]="conducteur.cin" name="cin"  #cin="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && cin.invalid }" required/>
              <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                <div *ngIf="cin.errors.required"> Numero Cart cin</div>
              </div>
            </div>

            <div class="form-group">
              <label>Adress</label>
              <input type="text" class="form-control"  [(ngModel)]="conducteur.adress" name="adress"  #adress="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && adress.invalid }" required/>
              <div *ngIf="f.submitted && adress.invalid" class="invalid-feedback">
                <div *ngIf="adress.errors.required">Adress Obligatoire</div>
              </div>
            </div>


            <div class="form-group">

             <label>{{conducteur.photo}} </label>

              <input  id ="file1" type='file' name="file" (change)="recuperFile($event)"  class="form-control" [(ngModel)]="conducteur.photo"  #photo="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && photo.invalid }" required/>

</div>


            <div class="form-group">
              <label>Mot de passe</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="conducteur.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Mot de passe Obligatoire</div>
                <div *ngIf="password.errors.minlength">Mot de passe doit etre plus que  6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label>Confirmation Mot de passe </label>
              <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="conducteur.confirmedPassword" #confirmedPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmedPassword.invalid }" required />
              <div *ngIf="f.submitted && confirmedPassword.invalid" class="invalid-feedback">
                <div *ngIf="confirmedPassword.errors.required">Confirmetion Mot de passe Obligatoire</div>
                <div *ngIf="confirmedPassword.errors.mustMatch">Mot de passes ne sont pas identique</div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <button  type="submit"  class="btn btn-primary" (click)="ajout()" data-dismiss="modal"  >AJOUTER</button>
                <button class="btn btn-light"  data-dismiss="modal" (click)="closemodal()" >Annuler</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
