<footer class="footer">
  <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center  d-sm-inline-block">Copyright © 2019
              <a href="http://www.bootstrapdash.com/" target="_blank"></a></span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
      
            </span>
  </div>
</footer>
