
<body class="background">
<div class="container-scroller">

    <div class=" align-items-center auth  theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auto-form-wrapper"><h2 class="fc-center"> Connexion</h2>

            <form  [formGroup]="loginForm" (ngSubmit)="onlogin()">
              <div class="form-group">
                <label class="label">Nom d'utilisateur </label>
                <div class="input-group">
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />


                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Nom d'utilisateur est obligatoire</div>

                  </div>

                </div>
              </div>
              <div class="form-group"  >
                <label class="label">Mot de passe</label>
                <div class="input-group">
                  <input type="password"  placeholder="*********" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />


                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Mot de passe obligatoire</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-info" type="submit" >Connecter</button>
              </div>
              <div class="form-group d-flex justify-content-between">

                <a href="#" class="text-small forgot-password text-black">Mot de passe oublier </a>
              </div>

              <div class="text-block text-center my-3">
                <span class="text-small font-weight-semibold">n'est pas member ?</span>
                <a routerLink="/register" class="text-black text-small">Creer un Compte</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- page-body-wrapper ends -->

</body>
