<div class="content-wrapper">
  <div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <input type="text"  [(ngModel)]="term"  name ="term"/><i class="fas fa-search"></i>
          <p class="card-description">
            List des Passager
          </p>

          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>
               Nom d'utilisateur
                </th>
                <th>
                  First name
                </th>
                <th>
                  LastName
                </th>
                <th>
                  Telphone
                </th>
                <th>
                 Email
                </th>

                <th>
                  Nombre de trajet  Effectier
<th> profil</th>
                <th>
                  Supprimer
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor=" let e of listepassager | passager:term | paginate: { itemsPerPage: 4, currentPage: p }">
                <td >{{e.username}}</td>
                <td>{{e.firstName}}</td>
                <td>{{e.lastName}}</td>
                <td>{{e.tel}}</td>
                <td>{{e.email}}</td>
                <td><app-reservation [id]="e.id"></app-reservation></td>

                <td > <a > <i class="fa fa-user-o" style='font-size:25px' routerLink="/home/profiluser/{{e.id}}"  ></i></a></td>
                <td >
                  <i class="fa fa-trash" style="font-size:25px;color:red"  (click)="removepassager(e.id)"  >

                  </i>
                </td>

              </tr>





              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>

<!--<div class=" example-modal " >-->
  <!--<div class="modal modal-primary" id="add">-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->


          <!--<div class="box-body">-->
            <!--<h3>Ajouter Un Passager</h3>-->

            <!--<form name="form"  #f="ngForm" [mustMatch]="['password', 'confirmPassword']">-->
              <!--<div class="form-group">-->
                <!--<label >First Name</label>-->
                <!--<input type="text" class="form-control" name="username" [(ngModel)]="passager.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />-->
                <!--<div *ngIf="f.submitted && username.invalid" class="invalid-feedback">-->
                  <!--<div *ngIf="username.errors.required"> is required</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label >First Name</label>-->
                <!--<input type="text" class="form-control" name="firstName" [(ngModel)]="passager.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />-->
                <!--<div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">-->
                  <!--<div *ngIf="firstName.errors.required">First Name is required</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label >Last Name</label>-->
                <!--<input type="text" class="form-control" name="lastName" [(ngModel)]="passager.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />-->
                <!--<div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">-->
                  <!--<div *ngIf="lastName.errors.required">Last Name is required</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Email</label>-->
                <!--<input type="text" class="form-control" name="email" [(ngModel)]="passager.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />-->
                <!--<div *ngIf="f.submitted && email.invalid" class="invalid-feedback">-->
                  <!--<div *ngIf="email.errors.required">Email is required</div>-->
                  <!--<div *ngIf="email.errors.email">Email must be a valid email address</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label>Telphone</label>-->
                <!--<input type="text" class="form-control"  [(ngModel)]="passager.tel" name="tel"  #tel="ngModel"  [ngClass]="{ 'is-invalid':f. submitted && tel.invalid }" required />-->
                <!--<div *ngIf="f.submitted && tel.invalid" class="invalid-feedback">-->
                  <!--<div *ngIf="tel.errors.required">Telphone is required</div>-->
                <!--</div>-->
              <!--</div>-->





              <!--<div class="form-group">-->
                <!--<label>Password</label>-->
                <!--<input type="password" class="form-control" name="password" [(ngModel)]="passager.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />-->
                <!--<div *ngIf="f.submitted && password.invalid" class="invalid-feedback">-->
                  <!--<div *ngIf="password.errors.required">Password is required</div>-->
                  <!--<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label>Confirm Password</label>-->
                <!--<input type="password" class="form-control" name="confirmPassword" [(ngModel)]="passager.confirmedPassword" #confirmedPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmedPassword.invalid }" required />-->
                <!--<div *ngIf="f.submitted && confirmedPassword.invalid" class="invalid-feedback">-->
                  <!--<div *ngIf="confirmedPassword.errors.required">Confirm Password is required</div>-->
                  <!--<div *ngIf="confirmedPassword.errors.mustMatch">Passwords must match</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="modal-footer">-->
                <!--<div class="form-group">-->
                  <!--<button  type="submit"  class="btn btn-primary" (click)="addpassager()"   >Ajouter</button>-->
                  <!--<button class="btn btn-light"  data-dismiss="modal">Annuler</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</form>-->

          <!--</div>-->







        <!--</div>-->
      <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--</div>-->

<div class=" example-modal " >
  <div class="modal modal-primary" id="supp">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <h1 class="modal-title" > voulez-vous supprimer ?? </h1>

        </div>
        <div class="modal-footer">


          <button type="submit"  data-dismiss="modal"  class="btn btn-primary"(click)="removepassager()">Valider</button>
          <button type="button"  data-dismiss="modal"  class="btn btn-danger"  >Annuler</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>



