<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

      <div class="nav-link">


            <img src="../../../assets/images/logo%20(2).png"   height="150" width="200">




      </div>

    <li class="nav-item" >
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic" >




        <img src="../../../assets/images/passager.jpg"  height="40" width="40">

        <span class="menu-title"  routerLink="/home/passager" >Gestion Passager</span>

      </a>

    </li>


    <li class="nav-item"   >
      <a class="nav-link" data-toggle="collapse"  aria-expanded="false" >
        <img src="../../../assets/images/stats.png"  height="40" width="40">
        <!--*ngIf="isAdmin()"-->
        <span class="menu-title" routerLink="/home/statstique"> Statstique</span>

      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2"ng >



        <img src="../../../assets/images/silhouette.jpg"  height="40" width="40">
       <span class="menu-title"> Gestion Conducteur </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">

            <a class="nav-link"   routerLink="/home/conducteur"> Liste de Conducteur  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >   Validation en Attente </a>

          </li>
        </ul>
      </div>


    <li class="nav-item"   >
      <a class="nav-link" data-toggle="collapse"  aria-expanded="false" >
        <i  class="fas fa-car"style="font-size:30px;"></i>
        <span class="menu-title"  routerLink="voiture"> Gestion des Vehicule </span>

      </a>
    </li>




    <li class="nav-item"   >
      <a class="nav-link" data-toggle="collapse"  aria-expanded="false" >
        <img src="../../../assets/images/web%20icons%20query.png"  height="40" width="40">
        <span class="menu-title"  routerLink="reclamation"> Reclamation Reçu </span>

      </a>
    </li>

  </ul>


</nav>

