<!--<div class="content-wrapper">-->
  <!--<div class="row">-->


    <!--<div class="col-lg-12 grid-margin stretch-card">-->
      <!--<div class="card">-->
        <!--<div class="card-body">-->

          <!--<p class="card-description">-->
            <!--List des Marques-->
          <!--</p>-->
          <!--<button class="btn btn-success " data-target="#ajout" data-toggle="modal">Ajouter Une Marque-->
            <!--<i class="mdi mdi-plus"></i>-->
          <!--</button>-->
          <!--<div class="table-responsive">-->

            <!--<table class="table table-striped">-->
              <!--<thead>-->
              <!--<tr>-->
                <!--<th>Nom</th>-->
                <!--<th>Logo</th>-->
                <!--<th>-->
                  <!--Modifier-->
                <!--</th>-->
                <!--<th>-->
                  <!--Supprimer-->
                <!--</th>  <th>-->
                <!--Liste des Model-->
              <!--</th>-->

              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody>-->
              <!--<tr *ngFor=" let e of listmarques ">-->
                <!--<td>{{e.nom}}</td>-->

                <!--<td> <img src="http://localhost:9001/upload/files/{{e.logo}}" height="70" width="70"></td>-->
                <!--<td >-->
                  <!--<i class='fas fa-user-edit' style='font-size:26px'  data-target="#edit" data-toggle="modal"  (click)="recuper(e.id,e.nom)"></i>-->
                <!--<td >-->
                  <!--<i class="fa fa-trash" style="font-size:20px;color:red"  (click)="delete(e.id)" >-->

                  <!--</i>-->
                <!--</td>-->
                <!--<td><i type="submit" class="fas fa-clipboard-list" style="font-size:20px;"  (click)="getmarquebymodel(e.id)"></i></td>-->

              <!--</tr>-->


              <!--</tbody>-->
            <!--</table>-->


          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class=" example-modal " >-->
  <!--<div class="modal modal-primary" id="edit">-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<h3>Modifier les information d'une Marque</h3>-->


          <!--<form name="form" (ngSubmit)="f.form.valid&& modifiemodel()">-->
            <!--<div class="form-group">-->
              <!--<label >Nom de Marque</label>-->
              <!--<input type="text" class="form-control" name="nom" [(ngModel)]="marquevoiture.nom" #nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required />-->
              <!--<div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">-->
                <!--<div *ngIf="nom.errors.required"> Nom Obligatoire</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label>{{this.logo}} </label>-->

              <!--<input  id ="file"type='file' name="file" (change)="recuperFile($event)"  />-->

            <!--</div>-->

            <!--<div class="modal-footer">-->
              <!--<div class="form-group">-->
                <!--<button  type="submit"  class="btn btn-primary"  >Confirmer</button>-->
                <!--<button class="btn btn-light"  data-dismiss="modal" (click)="closemodal1()">Annuler</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->

        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class=" example-modal " >-->
  <!--<div class="modal modal-primary" id="ajout">-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->

          <!--<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" >-->

            <!--<div class="form-group">-->
              <!--<label >Nom </label>-->
              <!--<input type="text" class="form-control" name="nom" [(ngModel)]="marquevoiture.nom" #nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required />-->
              <!--<div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">-->
                <!--<div *ngIf="nom.errors.required">  Nom Obligatoire</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label>Photo </label>-->
              <!--<label for="file1" >{{this.logo}}</label>-->

              <!--<input id="file1" type='file' (change)="recuperFile($event)"  />-->

            <!--</div>-->
            <!--<div class="modal-footer">-->
              <!--<div class="form-group">-->
                <!--<button  type="submit"  class="btn btn-primary"  (click)="ajout()" >AJOUTER</button>-->
                <!--<button class="btn btn-light"  data-dismiss="modal" (click)="closemodal1()" >Annuler</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--<div role="tabpanel" class="tab-pane in active" id="details" aria-expanded="true"  *ngIf="!myVariable">-->
  <!--<div class="row clearfix">-->

    <!--<div class="col-lg-8 col-md-12">-->
      <!--<div class="card" id="details">-->
        <!--<div class="body">-->

          <!--<div class="mt-40"> Liste des  Model </div>-->
          <!--<div class="row" *ngFor=" let e of listmodel">-->
            <!--&nbsp;&nbsp;&nbsp;&nbsp;<h3>{{e.nom}}</h3>-->
          <!--</div>-->
            <!--<div class="col-md-12" >-->
              <!--<form name="form" (ngSubmit)="f.form.valid" #f="ngForm" >-->

                <!--<div class="form-group">-->
                  <!--<label >Nom </label>-->
                  <!--<input type="text" class="form-control" name="nom" [(ngModel)]="model.nom" #nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required />-->
                  <!--<div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">-->
                    <!--<div *ngIf="nom.errors.required"> Nom Obligatoire</div>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="modal-footer">-->
                  <!--<div class="form-group">-->
                  <!--</div><div class="hidden-print col-md-12 text-right">-->

                  <!--<button type="submit" class="btn btn-primary btn-round" (click)="ajoutmodel(idmarque1)">Ajouter Un autre Model  </button>-->

                  <!--<button class="btn btn-light"   (click)="closemodal2()" >Annuler</button>-->
                <!--</div>-->
                <!--</div>-->
              <!--</form>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div></div>-->
