




  <body class="background">
  <div class="container-scroller">

    <div class=" align-items-center auth  theme-one">
      <div class="row w-100">
        <div class="col-lg-6 mx-auto">
          <div class="auto-form-wrapper">
            <h2 class="text-center mb-4">Register</h2>

            <form [formGroup]="registerForm" (ngSubmit)="inscrit()">


              <div class="row">
                <div class="col-sm-6 form-group">
                  <label > Nom</label>
                <input type="text" class="form-control"  formControlName="username"   [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">First Name is required</div>
                </div>
              </div>




                <div class="col-sm-6 form-group">
                  <label > Prenom </label>
                <input type="text" placeholder="Enter Votre Prenom"  formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Prenom is required</div>
                </div>
                </div>
              </div>
                  <div class="row">
                      <div class="col-sm-6 form-group">
                            <label >Genre </label>


                  <select   formControlName="genre"  placeholder="Enter Votre genre"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }" >
                    <option>Homme</option>
                    <option>Femme</option>
                  </select>
                  <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
                    <div *ngIf="f.genre.errors.required">genre is required</div>
                  </div>

                </div>
                      <div class="col-sm-6 form-group">

                            <label>Telphone </label>

                            <input type="number" placeholder="Enter Votre telephone"  formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
                <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                  <div *ngIf="f.tel.errors.required">Telephone is required</div>
                </div>
              </div>
                          </div>



                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <label> Email </label>
                        <input type="text" placeholder="Enter Email"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email is incorrect</div>
                </div>



</div>

                    <div class="col-sm-6 form-group">
                      <label> Mot de passe</label>
                          <input type="password" placeholder="Enter Password"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password is court(min 6 caractere)</div>
                </div>
              </div>

                      </div>



                        <div class="col-sm-6 form-group">
                          <label>Confirmer mot de passe</label>
                <input type="password" placeholder="Repeat Password"  formControlName="confirmedPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmedPassword.errors }" />

                <div *ngIf="submitted && f.confirmedPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmedPassword.errors.required">Password Config is required</div>
                  <div *ngIf="f.confirmedPassword.errors.mustMatch">Passwords must match</div>
                </div>
              </div>


              <div class="form-group d-flex justify-content-center">
                <div class="form-check form-check-flat mt-0">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked> I agree to the terms
                  </label>
                </div>
              </div>



              <div class="form-group">
                <button class="btn btn-primary submit-btn btn-block">Register</button>
              </div>
              <div class="text-block text-center my-3">
                <span class="text-small font-weight-semibold">Already have and account ?</span>
                <a routerLink="" class="text-black text-small">Login</a>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- page-body-wrapper ends -->

  </body>
